.card {
    height: 120px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightskyblue;
    padding: 16px;
}

.card > h2 {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}